################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EducationCurse/v16/Server/sqlite3
/.vs
/bin/Windows/AnyCPU/Debug
/obj
/packages
